@import url('https://fonts.googleapis.com/css2?family=Glory:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.navbar {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem ;
    color: rgb(19, 19, 19);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgb(202, 202, 202);
}

.navItem, .navItem-right {
    display: inline;
    font-size: 22px;
    padding: 15px;
    font-weight: 400;
    color: rgb(65, 65, 65);
    text-decoration: none;
}

.navItem-right {
    float: right;
}

.navLink {
    transition: 0.2s;

}

.navLink:hover {
    color: black;
}

.navTitle {
    font-weight: 600;
    font-size: 36px;
    color: #00A19D;
    font-family: 'Glory', sans-serif;
}