@media only screen and (max-width: 600px) {
  .navbar {
    padding: 10px;
  }

  .nav-item {
    font-size: 14px;
  }

  .nav-title {
    font-size: 26px;
  }

  .nav-link {
    padding: 8px;
  }

  .banner-title {
    font-size: 36px;
    font-weight: 600;
  }

  .banner-subtitle {
    font-size: 18px;
    font-weight: 300;
  }

  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .col-text {
    padding: 28px;
  }

  .col-img {
    padding: 0px;
  }

  .col {
    flex-basis: 100%;
  }

  .banner-img, .banner-img-2 {
    border-radius: 0;
  }

.banner-img-2 {
  width: 100%;
  height: auto;
}

  .keep-img {
    width: 50%;
    height: auto;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  .keep-title {
    font-size: 36px;
  }

  .keep-subtitle {
    font-size: 18px;
  }

  br {
    display: none;
  }

  .user-title {
    font-size: 36px;
  }

  .user-subtitle {
    font-size: 18px;
  }

  footer, .col-text-right {
    text-align: left;
  }

  .use-title {
    font-size: 36px;
    font-weight: 600;
  }

  .use-subtitle {
    font-size: 18px;
  }

  .user-logo {
    float: none;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    display: block;
    height: auto;
  }

  .org-title {
    font-size: 36px;
    font-weight: 600;
  }

  .org-subtitle {
    font-size: 24px;
    font-weight: 400;
  }

  .row-left {
    justify-content: center;
  }

  .col-s {
    flex-basis: 90%;
    margin-right: 0;
  }

  .org-img {
    float: none;
    width: 50%;
    height: auto;
    margin: 0;
  }

  .details-title {
    font-size: 36px;
    font-weight: 600;
  }

  .details-subtitle {
    font-size: 18px;
    font-weight: 400;
  }

  #Role {
    padding: 30px;
  }

  .apply-btn {
    padding: 5px 90px 5px 90px;
  }

}
